.root {
    display: grid;
    width: 100%;
    height: 100vh;
    
    grid-template-columns: [col1] 300px [col2] auto;
    /* grid-template-rows: [row1] 100px [row2] auto [row3] 100px; */
    grid-template-rows: [row1] min-content [row2] auto [row3] min-content;
    gap: 0 1rem;
    background-color: #eee;
}

.header {
    grid-column: col1 / span 2;
    grid-row: row1;
    background: #ccc;
}

.footer {
    grid-column: col1 / span 2;
    grid-row: row3;
    background: #ccc;
}

.main {
    grid-column: col2;
    grid-row: row2;
    
}

.sidebar {
    grid-column: col1;
    grid-row: row2;
    background-color: #aaa;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0.5rem;
}

.sidebar_title {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #aaa;
}

.dp {display:inline-block;vertical-align:middle;position: relative;}
.dp [data-role="dp-label"] { cursor:pointer;}
.dp [data-role="dp-dropdown"] {position:absolute;border:1px solid;}
.dp [data-role="dp-calendar"] {}
.dp [data-role="dp-calendar-nav"] {display:flex;flex-direction:row;padding:0.5rem 1rem 0 1rem;}
.dp [data-role="dp-prev"],
.dp [data-role="dp-next"] {flex:0 0 auto;cursor:pointer;}
.dp [data-role="dp-month"] {flex: 1 1 auto;}
.dp [data-role="dp-calendar-grid"] {cursor:pointer;}
