.root {
    display: grid;
    grid-template-columns: [col1] 1fr;
	grid-template-rows: [row1] auto [row2] 1fr;
	gap: 0.5rem;
	grid-template-areas: "area1" "area2";
    width: 100%;
    height: 100%;
    padding: 0.5rem 0 0 0;
    box-sizing: border-box;
}

.header {grid-area: area1;}
.body {
    grid-area: area2;
    position: relative;
    max-width: 600px;
}
.body_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.formWrapper {
    position: relative;
    grid-column: col1;
    grid-row: row1 / span 2;
}
.formWrapperInner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.list {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: min-content;
    gap: 0.5rem 0;
    padding-right: 0.3rem;
    box-sizing: border-box;
}
.list_header1,
.list_header2 {
    position: sticky;
    top: 0;
    background: #dedede;
}
.list_header2 {
    grid-column: 2 / span 2;
}
.list button + button {
    margin-left: 0.3rem;
}
.list_header1 {
    padding-right: 1rem;
}

.formBtns {
    background-color: #eee;
    position: sticky;
    bottom: 0;
    padding: .5rem 0 .5rem 0;
    grid-column: 1/span 2;
    border-top: 1px solid #bbb;
    pointer-events: all;
}