.root {
    display: grid;
    grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	gap: .5rem 1rem;
	grid-template-areas: "area1" "area2";
    padding: 0 1rem 0 0;
    
}
.disabled {
    pointer-events: none;
    user-select: none;
}

.root select {width:100%;}
.root input[type=number][step] {text-align: right;}
.root label {display: block; margin: 0 0 0.5rem 0;}

.section {
    grid-column: area1-end / 2;
    margin: 0 0 2rem 0;
}
@media (min-width: 1360px) {
    .root {
        --n-columns_modelprops: 1fr 1fr;
    }
}
@media (min-width: 1800px) {
    .root {
        --n-columns_modelprops: 1fr 1fr 1fr;
    }
}

.subsection {
    margin: 0;
    display: grid;
    grid-template-columns: var(--n-columns_modelprops, 1fr);
    grid-gap: 0.5rem 1rem;
    align-items: end;
}

.subsection input {width: 100%; box-sizing: border-box;}
.root form {
    margin: 0 0 2rem 0;
}
.root legend {
    text-transform: uppercase;
    margin: 0 0 0.25rem 0;
}
.description {
    margin: 0 0 1rem 0;
    color: #666;
    font-size: 0.9rem;
}
.tab_switcher {
    margin: 0 0 1rem 0;
}

.metadata_list {
    display: grid;
    grid-template-columns: [col0] 1fr 1fr 1fr;
	gap: 0.2rem 1rem;
    margin: 0 0 0.5rem 0;
}
.metadataRow {
    grid-column: col0 / span 3;
} 
.metadata_list > label {
    margin: 0;
}

.mes_offset {
    margin: 0 0 0 0.5rem;
}

.removeIcon {
    width: 16px;
    height: 16px;
    --btn-color: #333;
}
