.root {
    position: relative;
    --description-grid__columns: minmax(60px, 1fr) 1fr min-content min-content min-content min-content min-content min-content min-content;
    --description-grid__gap: 0;
}
.root > h4 {
    margin: 1rem 0 0.5rem 0;
}
.root > * {
    padding: 0 0.4rem;
}
/* DEPRECATED */
/* .dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    background: #eaeaac;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-columns: 1fr min-content min-content min-content min-content min-content min-content min-content;;
    outline: 1px solid #ccc;
    outline-offset: -1px;
    grid-gap:.5rem 1rem;
}
.dropdown > h5 {
    margin: 0.2rem 0;
} */
/* DEPRECATED */
/* .dropdownRow {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-columns: var(--description-grid__columns);
    cursor: pointer;
    grid-column: 1 / cols 3;
}
.dropdownRow:hover {
    background: #dddd7a;
} */

.dropdowned {
    background: #eaeaac;
}
.dropdowned:empty {
    height: 100%;
}
