.root {
    position: relative;
    --description-grid__columns: minmax(60px, 1fr) 1fr min-content min-content min-content min-content min-content min-content min-content;
    --description-grid__gap: 0;
}
.root > h4 {
    margin: 1rem 0 0.5rem 0;
}
.root > * {
    padding: 0 0.4rem;
}
.dropdowned {
    background: rgba(255,255,255,0.6);
}
.dropdowned:empty {
    height: 100%;
}
.isActive {
    background-color: rgb(255,255,255);
}
.icon {
    display: block;
    width: 14px;
    height: 14px;
}
